.Customize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 3% 2% 3% 2%;
  height: 100%;
  width: 100%;
}

.CustomizeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1% 0% 4% 0%;
  padding: 0%;
  height: 10%;
  width: 100%;
}

.Customize Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 80%;
  overflow-y: auto;
}

.Customize .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1% 0% 1% 0%;
  padding: 0%;
  height: 8%;
  width: 100%;
}

.Customize .form-group label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.Customize .form-group input {
  font-size: 16px;
}

.Customize Button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  width: 200px;
  background-color: #dc3545;
  border: solid 1px #dc3545;
}

.Customize Button:hover {
  background-color: #dc3545;
  border: solid 1px #dc3545;
}

.Customize Button:focus {
  background-color: #dc3545;
  border: solid 1px #dc3545;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .Customize { padding: 1%; }
  .CustomizeHeader h2 { font-size: 14px; }
  .Customize Form { width: 100%; }
  .Customize .form-group label { font-size: 14px; }
  .Customize .form-group input { font-size: 14px; }
  .form-control { font-size: 14px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Customize { padding: 1%; }
  .CustomizeHeader h2 { font-size: 16px; }
  .Customize Form { width: 100%; }
  .Customize .form-group label { font-size: 16px; }
  .Customize .form-group input { font-size: 16px; }
  .form-control { font-size: 16px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Customize { padding: 1%; }
  .CustomizeHeader h2 { font-size: 16px; }
  .Customize Form { width: 100%; }
  .Customize .form-group label { font-size: 16px; }
  .Customize .form-group input { font-size: 16px; }
  .form-control { font-size: 16px; }
}
