.GetPassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0%;
  padding: 0%;
}

.Get_Password_Blood_Donation_Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.Get_Password_Blood_Donation_Image img {
  height: 200px;
  width: 250px;
}

.Get_Password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 5% 15% 5% 15%;
  height: 100%;
  width: 50%;
}

.Get_Password_Headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 15%;
  width: 100%;
  margin: 0%;
  padding: 0% 5% 0% 5%;
}

.NewPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin: 2% 0% 0% 0%;
  padding: 0% 5% 0% 5%;
}

.NewPassword p {
  margin-top: 1rem;
  font-size: 16px;
  color: grey;
}

.NewPasswordInputField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin: 0%;
  padding: 0% 5% 0% 5%;
}

.NewPasswordInputField Input {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px lightgrey;
}

.NewPasswordButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 5% 0% 5% 0%;
  padding: 0%;
}

.NewPasswordButton Button {
  height: 50px;
  width: 250px;
  font-size: 16px;
  border-radius: 20px;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .GetPassword { flex-direction: column; height: auto; }
  .Get_Password_Blood_Donation_Image { width: 80%; }
  .Get_Password_Blood_Donation_Image img { height: 100px; width: 100px; }
  .Get_Password { width: 80%; padding: 1%; }
  .Get_Password_Headline h4 { font-size: 14px; }
  .NewPassword { height: 35px; }
  .NewPassword p { font-size: 12px; }
  .NewPasswordInputField { padding: 1%; }
  .NewPasswordInputField Input { height: 35px; padding: 0% 5% 0% 5%; font-size: 12px; }
  .NewPasswordButton Button { height: auto; width: 125px; font-size: 14px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Get_Password_Blood_Donation_Image { width: 50%; }
  .Get_Password_Blood_Donation_Image img { height: 100px; width: 150px; }
  .Get_Password { width: 50%; padding: 1%; }
  .Get_Password_Headline h4 { font-size: 16px; }
  .NewPassword { height: 35px; }
  .NewPassword p { font-size: 14px; }
  .NewPasswordInputField { padding: 1%; }
  .NewPasswordInputField Input { height: 35px; padding: 0% 5% 0% 5%; font-size: 14px; }
  .NewPasswordButton Button { height: auto; width: 200px; font-size: 14px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Get_Password_Blood_Donation_Image { width: 50%; }
  .Get_Password_Blood_Donation_Image img { height: 100px; width: 150px; }
  .Get_Password { width: 50%; padding: 1%; }
  .Get_Password_Headline h4 { font-size: 18px; }
  .NewPassword { height: 35px; }
  .NewPassword p { font-size: 14px; }
  .NewPasswordInputField { padding: 0% 5% 0% 5%; }
  .NewPasswordInputField Input { height: 35px; padding: 0% 5% 0% 5%; font-size: 14px; }
  .NewPasswordButton Button { height: auto; width: 200px; font-size: 14px; }
}
