.form-row .col-md-7 {
  height: auto;
  width: auto;
}

.form-row .col-md-2 {
  height: auto;
  width: auto;
}

.form-row .col-md-3 {
  height: auto;
  width: auto;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .form-row .col-md-7 { height: 10px; width: 35%; }
  .form-row .col-md-7 .form-control { padding: 5%; height: 35px; font-size: 12px; }
  .form-row .col-md-2 { height: 10px; width: 30%; }
  .form-row .col-md-2 .form-control { padding: 5%; height: 35px; font-size: 12px; }
  .form-row .col-md-3 { height: 10px; width: 35%; }
  .form-row .col-md-3 .form-control { padding: 5%; height: 35px; font-size: 12px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .form-row .col-md-7 { height: 10px; width: 35%; }
  .form-row .col-md-7 .form-control input { padding: 5%; height: 35px; font-size: 12px; }
  .form-row .col-md-2 { height: 10px; width: 30%; }
  .form-row .col-md-2 .form-control { padding: 5%; height: 35px; font-size: 12px; }
  .form-row .col-md-3 { height: 10px; width: 35%; }
  .form-row .col-md-3 .form-control { padding: 5%; height: 35px; font-size: 12px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .form-row .col-md-7 { height: 10px; width: 35%; }
  .form-row .col-md-7 .form-control { padding: 5%; height: 30px; font-size: 12px; }
  .form-row .col-md-2 { height: 10px; width: 30%; }
  .form-row .col-md-2 .form-control { padding: 5%; height: 30px; font-size: 12px; }
  .form-row .col-md-3 { height: 10px; width: 35%; }
  .form-row .col-md-3 .form-control { padding: 5%; height: 30px; font-size: 12px; }
}
